body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
  flex-direction: column;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-top: auto;
}

.icon {
  font-size: 4rem;
}

.siteheader {
  border: 1em;
}

.emojis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1em;
}

.icon {
  order: -1;
  align-self: center;
}
